# Configuration for DIY MMU2S based on SKR-MINI
# Jeremy Briffaut kakou@kakou.org
# More info : https://www.thingiverse.com/thing:3910546
#
#
# config inspired from https://github.com/mwr666/klipper/blob/sunbeam2.0c_multi_mcu_mmu2/config/printer-protodev-corexy-multi-mcu-mmu2.cfg


########################################
#
# and 2 1.7A stepper motor at 1/16
# current for a 24V power
#
########################################

[respond]
default_type: command

########################################
# E4 : MMU2S 5mm road with the 5 gears
[tmc2209 manual_stepper gear_stepper]
uart_pin: PD10 
run_current: 1.000
hold_current: 0.600
interpolate: True
sense_resistor: 0.110
#stealthchop_threshold: 200

[manual_stepper gear_stepper]
step_pin: PD13
dir_pin: !PD11
enable_pin: !PG2
# 140 : mk8 gear
#step_distance: .007142
# 165 : fystec gear for mmu2s
#step_distance: .00606
microsteps: 16
rotation_distance: 19.392
velocity: 40
accel: 1500 # same value that your printer accel

########################################
# E5 : MMU2S idler with the 5 ball bearings
[tmc2209 manual_stepper idler_stepper]
uart_pin: PB12
run_current: 0.800
hold_current: 0.800
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 100
# comment this two line if you don't use sensorless
diag_pin: PC15 # Z+
driver_SGTHRS: 75

[manual_stepper idler_stepper]
step_pin: PD12
dir_pin: !PD8
enable_pin: !PD9
# 25 step/mm
#step_distance: .04
microsteps: 16
rotation_distance: 128
velocity: 100
accel: 500
# comment this two line if you don't use sensorless
endstop_pin: tmc2209_idler_stepper:virtual_endstop
homing_retract_dist: 0

## IR extruder switch
[filament_switch_sensor ir_sensor]
pause_on_runout: False
switch_pin: ^PF1 # Y+
event_delay:0.1
runout_gcode:
    M117 Filament not in extruder
insert_gcode:
    M117 Filament in extruder

## IR splitter switch
#[filament_switch_sensor splitter_sensor]
#pause_on_runout: False
#switch_pin: ^PC3 # P1.28 for X-max on printer board
#event_delay:0.1
#runout_gcode:
#    M117 Filament not in splitter
#insert_gcode:
#    M117 Filament in splitter

###############################################
#
# Purging buckets servo
#
###############################################
[servo purge_servo]
pin: PE11


###############################################
#
# Filament length sensor
#
###############################################
#[include printer-mmu2s-length-sensors.cfg]
