# Configuration for DIY MMU2S based on SKR-MINI
# Jeremy Briffaut kakou@kakou.org
# More info : https://www.thingiverse.com/thing:3910546
#
#
# config inspired from https://github.com/mwr666/klipper/blob/sunbeam2.0c_multi_mcu_mmu2/config/printer-protodev-corexy-multi-mcu-mmu2.cfg

[include printer-mmu2s-board.cfg]
[include printer-mmu2s-config.cfg]

[include mmu2s/mmu2s-status.cfg]

[include mmu2s/mmu2s-tool.cfg]

[include mmu2s/mmu2s-purge.cfg]

[include mmu2s/mmu2s-pause-resume.cfg]

[include mmu2s/mmu2s-load.cfg]

[include mmu2s/mmu2s-home.cfg]

[include mmu2s/mmu2s-test.cfg]

