############################################
#
# HELP TO INSERT FILAMENT IN MMU
# LOADING FILAMENT MMU
#
############################################

# Load filament IN MMU
[gcode_macro INSERT_FILAMENT_INTO_MMU]
gcode:
	{% if printer["gcode_macro HOME_MMU"].home != -1 %}
		MMU_RESPOND MSG="Loading {params.VALUE|default(0)|int} ..."
		SELECT_TOOL VALUE={params.VALUE|default(0)|int}
		G91
		_MMU_MANUAL_STEPPER STEPPER=gear_stepper SET_POSITION=0
		_MMU_MANUAL_STEPPER STEPPER=gear_stepper MOVE={printer["gcode_macro _VAR_MMU2S"].insert_into_mmu_length} SPEED=50
		_MMU_MANUAL_STEPPER STEPPER=gear_stepper SET_POSITION=0
		UNSELECT_TOOL
		MMU_RESPOND MSG="Loading done for {params.VALUE|default(0)|int} in MMU"
	{% else %}
		MMU_RESPOND MSG="MMU not homed"
	{% endif %}

############################################
#
# Select/Unselect a tool
# move the idler and the color selector (if needed) to the requested tool (0-4)
#
############################################

# Select a tool. move the idler and then move the color selector (if needed)
[gcode_macro SELECT_TOOL]
variable_tool_selected: -1
variable_color_selected: -1
gcode:
	{% if printer["gcode_macro HOME_MMU"].home != -1 %}
		MMU_RESPOND MSG="Select Tool {params.VALUE} ..."
		_MMU_MANUAL_STEPPER STEPPER=idler_stepper MOVE={printer["gcode_macro _VAR_MMU2S"].idler[params.VALUE|int]}
		{% if not printer["gcode_macro _VAR_MMU2S"].enable_5in1 %}
			_MMU_MANUAL_STEPPER STEPPER=selector_stepper MOVE={printer["gcode_macro _VAR_MMU2S"].colorselector[params.VALUE|int]}
		{% endif %}
		SET_GCODE_VARIABLE MACRO=SELECT_TOOL VARIABLE=tool_selected VALUE={params.VALUE}
		SET_SELECTED_COLOR VALUE={params.VALUE}
		MMU_RESPOND MSG="Tool {params.VALUE} Enabled"
	{% else %}
	RESPOND MSG="Could not select tool, MMU is not homed"
	{% endif %}

[gcode_macro SET_SELECTED_COLOR]
gcode:
	SET_GCODE_VARIABLE MACRO=SELECT_TOOL VARIABLE=color_selected VALUE={params.VALUE}

# Unselect a tool, only park the idler
[gcode_macro UNSELECT_TOOL]
gcode:
	{% if printer["gcode_macro HOME_MMU"].home != -1 %}
		_MMU_MANUAL_STEPPER STEPPER=idler_stepper MOVE={printer["gcode_macro _VAR_MMU2S"].idler_home_position}
		SET_GCODE_VARIABLE MACRO=SELECT_TOOL VARIABLE=tool_selected VALUE=-1
	{% else %}
		MMU_RESPOND MSG="Could not unselect tool, MMU is not homed"
	{% endif %}

