###############################
#
# Purge MACROS
#
###############################

# Display current purge length
[gcode_macro PURGE_STATUS]
gcode:
	RESPOND MSG="Purge status (unload/load) :"
	RESPOND MSG="Filament 0	: {printer["gcode_macro _VAR_MMU2S"].t0_purge_unload_length}mm / {printer["gcode_macro _VAR_MMU2S"].t0_purge_load_length}mm"
	RESPOND MSG="Filament 1	: {printer["gcode_macro _VAR_MMU2S"].t1_purge_unload_length}mm / {printer["gcode_macro _VAR_MMU2S"].t1_purge_load_length}mm"
	RESPOND MSG="Filament 2	: {printer["gcode_macro _VAR_MMU2S"].t2_purge_unload_length}mm / {printer["gcode_macro _VAR_MMU2S"].t2_purge_load_length}mm"
	RESPOND MSG="Filament 3	: {printer["gcode_macro _VAR_MMU2S"].t3_purge_unload_length}mm / {printer["gcode_macro _VAR_MMU2S"].t3_purge_load_length}mm"
	RESPOND MSG="Filament 4	: {printer["gcode_macro _VAR_MMU2S"].t4_purge_unload_length}mm / {printer["gcode_macro _VAR_MMU2S"].t4_purge_load_length}mm"

[gcode_macro SET_PURGE_LENGTH]
gcode:
	{% set FILAMENT = params.FILAMENT|default(0)|int %}
	{% set UNLOAD = params.UNLOAD|default(0)|int %}
	{% set LOAD = params.LOAD|default(40)|int %}
	RESPOND MSG="Set filament {FILAMENT} purge length {UNLOAD}/{LOAD}"
	{%if FILAMENT|int == 0 %}
		SET_GCODE_VARIABLE MACRO=_VAR_MMU2S VARIABLE=t0_purge_load_length VALUE={LOAD}
		SET_GCODE_VARIABLE MACRO=_VAR_MMU2S VARIABLE=t0_purge_unload_length VALUE={UNLOAD}
	{% endif %}
	{%if FILAMENT|int == 1 %}
		SET_GCODE_VARIABLE MACRO=_VAR_MMU2S VARIABLE=t1_purge_load_length VALUE={LOAD}
		SET_GCODE_VARIABLE MACRO=_VAR_MMU2S VARIABLE=t1_purge_unload_length VALUE={UNLOAD}
	{% endif %}
	{%if FILAMENT|int == 2 %}
		SET_GCODE_VARIABLE MACRO=_VAR_MMU2S VARIABLE=t2_purge_load_length VALUE={LOAD}
		SET_GCODE_VARIABLE MACRO=_VAR_MMU2S VARIABLE=t2_purge_unload_length VALUE={UNLOAD}
	{% endif %}
	{%if FILAMENT|int == 3 %}
		SET_GCODE_VARIABLE MACRO=_VAR_MMU2S VARIABLE=t3_purge_load_length VALUE={LOAD}
		SET_GCODE_VARIABLE MACRO=_VAR_MMU2S VARIABLE=t3_purge_unload_length VALUE={UNLOAD}
	{% endif %}
	{%if FILAMENT|int == 4 %}
		SET_GCODE_VARIABLE MACRO=_VAR_MMU2S VARIABLE=t4_purge_load_length VALUE={LOAD}
		SET_GCODE_VARIABLE MACRO=_VAR_MMU2S VARIABLE=t4_purge_unload_length VALUE={UNLOAD}
	{% endif %}

[gcode_macro SET_PURGE_SPEED]
variable_speed: 374
gcode:
	RESPOND MSG="Set purge speed at {speed} mm/min"
	SET_GCODE_VARIABLE MACRO=_VAR_MMU2S VARIABLE=purge_speed VALUE={speed}



############################################
#
# Purge macros
#
#
############################################
[gcode_macro _DEPLOY_PURGE]
variable_z_lifted: -1
variable_x_move: 40
variable_y_move: 0
variable_z_lift: 0
gcode:
	G90
	G1 X{printer["gcode_macro _VAR_MMU2S"].pause_x + printer["gcode_macro _DEPLOY_PURGE"].x_move} Y{printer["gcode_macro _VAR_MMU2S"].pause_y + printer["gcode_macro _DEPLOY_PURGE"].y_move} F9000
	{% if printer.toolhead.position.z|int < printer["gcode_macro _DEPLOY_PURGE"].z_lift  %}
		SET_GCODE_VARIABLE  MACRO=_DEPLOY_PURGE VARIABLE=z_lifted VALUE=1
		G91
		G1 Z+{printer["gcode_macro _DEPLOY_PURGE"].z_lift} F1200
		G90
	{% endif %}
	G4 P1000
	SET_SERVO SERVO=purge_servo angle={printer["gcode_macro _VAR_MMU2S"].servo_angle_deploy}
	G90
	G1 X{printer["gcode_macro _VAR_MMU2S"].pause_x} Y{printer["gcode_macro _VAR_MMU2S"].pause_y} F9000

[gcode_macro _PARK_PURGE]
gcode:
	SET_SERVO SERVO=purge_servo angle=0

[gcode_macro _RETRACT_PURGE]
gcode:
	G90
	G1 X{printer["gcode_macro _VAR_MMU2S"].pause_x + printer["gcode_macro _DEPLOY_PURGE"].x_move} Y{printer["gcode_macro _VAR_MMU2S"].pause_y + printer["gcode_macro _DEPLOY_PURGE"].y_move} F9000
	G1 X{printer["gcode_macro _VAR_MMU2S"].pause_x} Y{printer["gcode_macro _VAR_MMU2S"].pause_y} F9000
	G1 X{printer["gcode_macro _VAR_MMU2S"].pause_x + printer["gcode_macro _DEPLOY_PURGE"].x_move} Y{printer["gcode_macro _VAR_MMU2S"].pause_y + printer["gcode_macro _DEPLOY_PURGE"].y_move} F9000
	SET_SERVO SERVO=purge_servo angle=0
	SET_SERVO SERVO=purge_servo angle=170
	SET_SERVO SERVO=purge_servo angle=0
	{% if printer["gcode_macro _DEPLOY_PURGE"].z_lifted|int == 1 %}
		G91
		G1 Z-{printer["gcode_macro _DEPLOY_PURGE"].z_lift} F1200
		G90
	{% endif %}
	SET_GCODE_VARIABLE  MACRO=_DEPLOY_PURGE VARIABLE=z_lifted VALUE=-1

[gcode_macro _MOVE_PURGE_FILAMENT]
variable_purge_max: 60
gcode:
	{% if printer["gcode_macro _VAR_MMU2S"].enable_purge_servo %}
		{% set purge_length = params.PURGE_LENGTH|default(60)|int %}
		MMU_RESPOND MSG="Purging : {purge_length|int} mm"
		_MMU_WRITE_STAT MSG="PU:{purge_length}:T{printer["gcode_macro SELECT_TOOL"].color_selected}"
		G91
		G92 E0
		{% for i in range(purge_length|int//purge_max|int) %}
			G1 E{purge_max} F{printer["gcode_macro _VAR_MMU2S"].purge_speed}
			G92 E0
		{% endfor %}
		G1 E{purge_length|int%purge_max|int} F{printer["gcode_macro _VAR_MMU2S"].purge_speed}
		G92 E0
		G90
	{% else %}
		MMU_RESPOND MSG="Could not purge with servo, not enabled ..."
	{% endif %}

[gcode_macro _PURGE_FILAMENT]
gcode:
	{% if printer["gcode_macro _VAR_MMU2S"].enable_stealthburner_leds %}
		_STATUS_CLEANING
	{% endif %}
	{% if printer["gcode_macro _VAR_MMU2S"].purge_after_load %}
	{% if printer["gcode_macro PAUSE_MMU"].is_paused|int == 0 %}
	{% if printer.extruder.temperature > printer["gcode_macro _VAR_MMU2S"].min_temp_extruder %}
		MMU_RESPOND MSG="Purging Filament {printer["gcode_macro TX"].old_color}->{printer["gcode_macro SELECT_TOOL"].color_selected}..."
		{% set purge_length = 0 %}
		G91
		G92 E0
		G1 E2.0000 F1140
		G1 E7.0000 F1680
		G1 E1.0000 F168
		{% if printer["gcode_macro TX"].old_color|int == 0 %}
			{% set purge_length = printer["gcode_macro _VAR_MMU2S"].t0_purge_unload_length %}
		{% endif %}
		{% if printer["gcode_macro TX"].old_color|int == 1 %}
			{% set purge_length = printer["gcode_macro _VAR_MMU2S"].t1_purge_unload_length %}
		{% endif %}
		{% if printer["gcode_macro TX"].old_color|int == 2 %}
			{% set purge_length = printer["gcode_macro _VAR_MMU2S"].t2_purge_unload_length %}
		{% endif %}
		{% if printer["gcode_macro TX"].old_color|int == 3 %}
			{% set purge_length = printer["gcode_macro _VAR_MMU2S"].t3_purge_unload_length %}
		{% endif %}
		{% if printer["gcode_macro TX"].old_color|int == 4 %}
			{% set purge_length = printer["gcode_macro _VAR_MMU2S"].t4_purge_unload_length %}
		{% endif %}
		{% if printer["gcode_macro SELECT_TOOL"].color_selected|int == 0 %}
			{% set purge_length = purge_length + printer["gcode_macro _VAR_MMU2S"].t0_purge_load_length %}
		{% endif %}
		{% if printer["gcode_macro SELECT_TOOL"].color_selected|int == 1 %}
			{% set purge_length = purge_length + printer["gcode_macro _VAR_MMU2S"].t1_purge_load_length %}
		{% endif %}
		{% if printer["gcode_macro SELECT_TOOL"].color_selected|int == 2 %}
			{% set purge_length = purge_length + printer["gcode_macro _VAR_MMU2S"].t2_purge_load_length %}
		{% endif %}
		{% if printer["gcode_macro SELECT_TOOL"].color_selected|int == 3 %}
			{% set purge_length = purge_length + printer["gcode_macro _VAR_MMU2S"].t3_purge_load_length %}
		{% endif %}
		{% if printer["gcode_macro SELECT_TOOL"].color_selected|int == 4 %}
			{% set purge_length = purge_length + printer["gcode_macro _VAR_MMU2S"].t4_purge_load_length %}
		{% endif %}
		G92 E0
		{% if printer["gcode_macro _VAR_MMU2S"].enable_motion_sensor %}
			FMS_ENABLE EXTRUDER={printer["gcode_macro SELECT_TOOL"].color_selected|int}
		{% endif %}
		{% if printer["gcode_macro _VAR_MMU2S"].enable_purge_servo %}
				_MOVE_PURGE_FILAMENT PURGE_LENGTH={purge_length}
		{% else %}
				G1 E{purge_length} F{printer["gcode_macro _VAR_MMU2S"].purge_speed}
		{% endif %}
		M400
		G92 E0
		G1 E-{printer["gcode_macro _VAR_MMU2S"].purge_retract_at_end} F{printer["gcode_macro _VAR_MMU2S"].purge_speed}
		G92 E0
		G90
		_PURGE_FILAMENT_END
	{% endif %}
	{% endif %}
	{% endif %}

[gcode_macro _PURGE_FILAMENT_END]
gcode:
	{% if printer["gcode_macro _VAR_MMU2S"].enable_motion_sensor %}
		FMS_DISABLE EXTRUDER={printer["gcode_macro SELECT_TOOL"].color_selected|int}
	{% endif %}

