

###############################
###############################
[gcode_macro MMU_ENABLE_DEBUG]
gcode:
	{% set ON = params.ON|default(1)|int %}
	{% if ON == 0 %}
		RESPOND MSG="Disable MMU DEBUG"
		SET_GCODE_VARIABLE MACRO=_VAR_MMU2S VARIABLE=enable_debug VALUE=False
	{% else %}
		RESPOND MSG="Enable MMU DEBUG"
		SET_GCODE_VARIABLE MACRO=_VAR_MMU2S VARIABLE=enable_debug VALUE=True
	{% endif %}

[gcode_macro MMU_RESPOND]
gcode:
	{% if printer["gcode_macro _VAR_MMU2S"].enable_debug|int == 1 %}
		RESPOND MSG="{params.MSG}"
	{% endif %}

###############################
[gcode_macro DISPLAY_MMU_ERROR]
gcode:
	RESPOND MSG="Error status : "
	RESPOND MSG="Error cut		: {printer["gcode_macro _MMU_ERROR_CUT"].error_cut}"
	RESPOND MSG="Error purge	: {printer["gcode_macro _MMU_ERROR_PURGE"].error_purge}"
	RESPOND MSG="Error load		: {printer["gcode_macro _MMU_ERROR_LOAD"].error_load}"
	RESPOND MSG="Error unload	: {printer["gcode_macro _MMU_ERROR_UNLOAD"].error_unload}"
	RESPOND MSG="Retry load		: {printer["gcode_macro _MMU_ERROR_RETRY_LOAD"].error_retry_load}"
	RESPOND MSG="Retry unload	: {printer["gcode_macro _MMU_ERROR_RETRY_UNLOAD"].error_retry_unload}"
	RESPOND MSG="Intervention	: {printer["gcode_macro _MMU_ERROR_PAUSE"].error_retry_pause}"

[gcode_macro _RESET_MMU_ERROR]
gcode:
	SET_GCODE_VARIABLE MACRO=_MMU_ERROR_CUT VARIABLE=error_cut VALUE=0
	SET_GCODE_VARIABLE MACRO=_MMU_ERROR_PURGE VARIABLE=error_purge VALUE=0
	SET_GCODE_VARIABLE MACRO=_MMU_ERROR_LOAD VARIABLE=error_load VALUE=0
	SET_GCODE_VARIABLE MACRO=_MMU_ERROR_UNLOAD VARIABLE=error_unload VALUE=0
	SET_GCODE_VARIABLE MACRO=_MMU_ERROR_RETRY_LOAD VARIABLE=error_retry_load VALUE=0
	SET_GCODE_VARIABLE MACRO=_MMU_ERROR_RETRY_UNLOAD VARIABLE=error_retry_unload VALUE=0
	SET_GCODE_VARIABLE MACRO=_MMU_ERROR_PAUSE VARIABLE=error_retry_pause VALUE=0
	_MMU_WRITE_STAT MSG='RESET'	

[gcode_macro _MMU_ERROR_RETRY_LOAD]
variable_error_retry_load: 0
gcode:
	{% set error = error_retry_load + 1 %}
	SET_GCODE_VARIABLE MACRO=_MMU_ERROR_RETRY_LOAD VARIABLE=error_retry_load VALUE={error}
	_MMU_WRITE_STAT MSG="ERROR:RLOAD:T{printer["gcode_macro SELECT_TOOL"].color_selected}"

[gcode_macro _MMU_ERROR_RETRY_UNLOAD]
variable_error_retry_unload: 0
gcode:
	{% set error = error_retry_unload + 1 %}
	SET_GCODE_VARIABLE MACRO=_MMU_ERROR_RETRY_UNLOAD VARIABLE=error_retry_unload VALUE={error}
	_MMU_WRITE_STAT MSG="ERROR:RULOAD:T{printer["gcode_macro SELECT_TOOL"].color_selected}"

[gcode_macro _MMU_ERROR_CUT]
variable_error_cut: 0
gcode:
        {% set error = error_cut + 1 %}
        SET_GCODE_VARIABLE MACRO=_MMU_ERROR_CUT VARIABLE=error_cut VALUE={error}
        _MMU_WRITE_STAT MSG="ERROR:CUT:T{printer["gcode_macro SELECT_TOOL"].color_selected}"

[gcode_macro _MMU_ERROR_PURGE]
variable_error_purge: 0
gcode:
        {% set error = error_purge + 1 %}
        SET_GCODE_VARIABLE MACRO=_MMU_ERROR_PURGE VARIABLE=error_purge VALUE={error}
        _MMU_WRITE_STAT MSG="ERROR:PURGE:T{printer["gcode_macro SELECT_TOOL"].color_selected}"

[gcode_macro _MMU_ERROR_LOAD]
variable_error_load: 0
gcode:
        {% set error = error_load + 1 %}
        SET_GCODE_VARIABLE MACRO=_MMU_ERROR_LOAD VARIABLE=error_load VALUE={error}
        _MMU_WRITE_STAT MSG="ERROR:LOAD:T{printer["gcode_macro SELECT_TOOL"].color_selected}"

[gcode_macro _MMU_ERROR_UNLOAD]
variable_error_unload: 0
gcode:
        {% set error = error_unload + 1 %}
        SET_GCODE_VARIABLE MACRO=_MMU_ERROR_UNLOAD VARIABLE=error_unload VALUE={error}
        _MMU_WRITE_STAT MSG="ERROR:ULOAD:T{printer["gcode_macro SELECT_TOOL"].color_selected}"

[gcode_macro _MMU_ERROR_PAUSE]
variable_error_retry_pause: 0
gcode:
	{% set error = error_retry_pause + 1 %}
	SET_GCODE_VARIABLE MACRO=_MMU_ERROR_PAUSE VARIABLE=error_retry_pause VALUE={error}
	_MMU_WRITE_STAT MSG="ERROR:PAUSE:T{printer["gcode_macro SELECT_TOOL"].color_selected}"

[gcode_macro _MMU_ERROR_RUNOUT]
variable_error_runout: 0
variable_is_runout: False
gcode:
	{% set error = error_runout + 1 %}
	SET_GCODE_VARIABLE MACRO=_MMU_ERROR_RUNOUT VARIABLE=error_runout VALUE={error}
	_MMU_WRITE_STAT MSG="ERROR:RUNOUT:T{printer["gcode_macro SELECT_TOOL"].color_selected}"

#####
[gcode_shell_command mmu_write_stat]
command: bash /home/pi/printer_data/config/script_mmu_stat.sh
timeout: 2.
verbose: False

[gcode_macro _MMU_WRITE_STAT]
gcode:
	RUN_SHELL_COMMAND CMD=mmu_write_stat PARAMS="{params.MSG}"	

[gcode_shell_command mmu_generate_stat]
command: bash /home/pi/printer_data/config/compute_stat.sh
timeout: 120.
verbose: True

[gcode_macro _MMU_GENERATE_STAT]
gcode:
	RUN_SHELL_COMMAND CMD=mmu_generate_stat PARAMS="/tmp/mmu_stat.log {printer.print_stats.filament_used}"	


###############################
#
# MMU2S endstop status : IR extruder, PINDA, selector switch
# 0 : open, 1 : TRIGGERED
#
###############################

[gcode_macro _EXTRUDER_IN_STATUS]
variable_filament_loaded: False
gcode:
	SET_GCODE_VARIABLE MACRO=_EXTRUDER_IN_STATUS VARIABLE=filament_loaded VALUE=False
	{% if
		( printer["gcode_macro _VAR_MMU2S"].enable_sensor_any ) or
		(
			( not printer["gcode_macro _VAR_MMU2S"].enable_sensor_on_gear or printer["filament_switch_sensor sensor_on_gear"].filament_detected ) and
			( not printer["gcode_macro _VAR_MMU2S"].enable_sensor_before_gear or printer["filament_switch_sensor sensor_before_gear"].filament_detected ) and
		 	( not printer["gcode_macro _VAR_MMU2S"].enable_sensor_after_gear or printer["filament_switch_sensor sensor_after_gear"].filament_detected )
		)
	%}
		#MMU_RESPOND MSG="Filament in"
		SET_GCODE_VARIABLE MACRO=_EXTRUDER_IN_STATUS VARIABLE=filament_loaded VALUE=True
	{% else %}
		#MMU_RESPOND MSG="Filament out"
		SET_GCODE_VARIABLE MACRO=_EXTRUDER_IN_STATUS VARIABLE=filament_loaded VALUE=False
	{% endif %}

[gcode_macro _EXTRUDER_STATUS]
gcode:
        {% if printer["gcode_macro _VAR_MMU2S"].enable_sensor_on_gear %}
                RESPOND MSG="- Extruder : {printer["filament_switch_sensor sensor_on_gear"].filament_detected}"
        {% endif %}
        {% if printer["gcode_macro _VAR_MMU2S"].enable_sensor_before_gear %}
                RESPOND MSG="- Before Extruder : {printer["filament_switch_sensor sensor_before_gear"].filament_detected}"
        {% endif %}
        {% if printer["gcode_macro _VAR_MMU2S"].enable_sensor_after_gear %}
                RESPOND MSG="- After Extruder : {printer["filament_switch_sensor sensor_after_gear"].filament_detected}"
        {% endif %}

# Display the last queried status
[gcode_macro _ENDSTOPS_STATUS]
gcode:
	RESPOND MSG="Enstop status :"
	_EXTRUDER_STATUS
	{% if not printer["gcode_macro _VAR_MMU2S"].enable_5in1 %}
		RESPOND MSG="- PINDA	: {printer.query_endstops.last_query["manual_stepper gear_stepper"]}"
	{% endif %}
	{% if printer["gcode_macro _VAR_MMU2S"].tmc2209_sensorless %}
		RESPOND MSG="- Selector : {printer.query_endstops.last_query["manual_stepper selector_stepper"]}"
	{% endif %}

# Query and display the status
[gcode_macro ENDSTOPS_INFOS]
gcode:
	QUERY_ENDSTOPS
	_ENDSTOPS_STATUS