############################################
#
# Homing MACROS
# HOME_MMU must be called before using the MMU2S
#
############################################

# Home MMU if not homed
[gcode_macro HOME_MMU]
description: Homes all MMU Axes if not already homed
variable_home: -1
gcode:
	RESPOND MSG="Homing MMU ..."
	{% if printer["gcode_macro HOME_MMU"].home == -1 %}
		_FORCE_HOME_MMU
	{% else %}
		MMU_RESPOND MSG="MMU already homed !"
		MMU_UNLOCK
	{% endif %}
	RESPOND MSG="Homing MMU ended ..."

# Home the MMU
# eject filament if loaded with _EJECT_BEFORE_HOME
# next home the mmu with _HOME_MMU_ONLY
[gcode_macro _FORCE_HOME_MMU]
description: Forces Homing of all MMU axes, ejects filament before
gcode:
	SET_GCODE_VARIABLE MACRO=HOME_MMU VARIABLE=home VALUE=1
	QUERY_ENDSTOPS
	_EJECT_BEFORE_HOME
	_HOME_MMU_ONLY

# Home the idler
[gcode_macro _HOME_IDLER]
description: Home the MMU idler
gcode:
    {% set HOME_CUR = 0.10 %}
    {% set driver_config = printer.configfile.settings['tmc2209 manual_stepper idler_stepper'] %}
    {% set RUN_CUR = driver_config.run_current %}
	RESPOND MSG="Homing idler"
    SET_TMC_CURRENT STEPPER=idler_stepper CURRENT={HOME_CUR}
	_MMU_MANUAL_STEPPER STEPPER=idler_stepper SET_POSITION=0
	_MMU_MANUAL_STEPPER STEPPER=idler_stepper MOVE=7
	{% if not printer["gcode_macro _VAR_MMU2S"].tmc2209_sensorless %}
		_MMU_MANUAL_STEPPER STEPPER=idler_stepper MOVE=-95
	{% else %}
		#NEEDED FOR SENSORLESS HOMING
		G4 P2000
		_MMU_MANUAL_STEPPER STEPPER=idler_stepper MOVE=-95 STOP_ON_ENDSTOP=1
	{% endif %}
	_MMU_MANUAL_STEPPER STEPPER=idler_stepper SET_POSITION=2
	_MMU_MANUAL_STEPPER STEPPER=idler_stepper MOVE={printer["gcode_macro _VAR_MMU2S"].idler_home_position}
    SET_TMC_CURRENT STEPPER=idler_stepper CURRENT={RUN_CUR}

# Home selector
[gcode_macro _HOME_SELECTOR]
description: Home the MMU selector
gcode:
    {% set HOME_CUR = 0.30 %}
    {% set driver_config = printer.configfile.settings['tmc2209 manual_stepper selector_stepper'] %}
    {% set RUN_CUR = driver_config.run_current %}
	RESPOND MSG="Homing selector"
    SET_TMC_CURRENT STEPPER=selector_stepper CURRENT={HOME_CUR}
	_MMU_MANUAL_STEPPER STEPPER=selector_stepper SET_POSITION=0
	{% if not printer["gcode_macro _VAR_MMU2S"].tmc2209_sensorless %}
		_MMU_MANUAL_STEPPER STEPPER=selector_stepper MOVE=-76
	{% else %}
		G4 P2000
		_MMU_MANUAL_STEPPER STEPPER=selector_stepper MOVE=-76 STOP_ON_ENDSTOP=1
	{% endif %}
	_MMU_MANUAL_STEPPER STEPPER=selector_stepper SET_POSITION=0
    SET_TMC_CURRENT STEPPER=selector_stepper CURRENT={RUN_CUR}

# Home the MMU :
# 1) home the idler
# 2) home the color selector (if needed)
# 3) try to load filament 0 to PINDA and then unload it. Used to verify the MMU2S gear
#
# if all is ok, the MMU2S is ready to be used
[gcode_macro _HOME_MMU_ONLY]
description: Home the MMU without Ejecting before
gcode:
	{% if printer["gcode_macro PAUSE_MMU"].is_paused|int == 0 %}
		_HOME_IDLER
		{% if not printer["gcode_macro _VAR_MMU2S"].enable_5in1 %}
			_HOME_SELECTOR
		{% endif %}
		_MMU_MANUAL_STEPPER STEPPER=idler_stepper MOVE=0
		SET_GCODE_VARIABLE MACRO=SELECT_TOOL VARIABLE=tool_selected VALUE=-1
		SET_GCODE_VARIABLE MACRO=SELECT_TOOL VARIABLE=color_selected VALUE=-1
		MMU_RESPOND MSG="Test idler filament 0"
		SELECT_TOOL VALUE=0
		{% if not printer["gcode_macro _VAR_MMU2S"].enable_5in1 %}
			MMU_RESPOND MSG="Test load filament 0"
			_LOAD_FILAMENT_TO_PINDA
			M400
			_MMU_MANUAL_STEPPER STEPPER=gear_stepper MOVE=-10
			_UNLOAD_FILAMENT_FROM_PINDA
		{% else %}
			SET_GCODE_VARIABLE MACRO=SELECT_TOOL VARIABLE=color_selected VALUE=-1
		{% endif %}
		UNSELECT_TOOL
		SET_GCODE_VARIABLE MACRO=HOME_MMU VARIABLE=home VALUE=1
		M400
	{% else %}
		MMU_RESPOND MSG="Homing MMU failed, MMU is paused, unlock it ..."
	{% endif %}

###############################################
###############################################
