###############################
#
# PAUSE MACROS
# PAUSE_MMU is called when an human intervention is needed
# use MMU_UNLOCK to park the idler and start the manual intervention
# and use RESUME when the invention is ended to resume the current print
#
###############################

[pause_resume]
#recover_velocity: 50.

# park the idler, stop the delayed stop of the heater
[gcode_macro MMU_UNLOCK]
gcode:
	RESPOND MSG="MMU_UNLOCK: Homing mmu idler"
	SET_GCODE_VARIABLE MACRO=PAUSE_MMU VARIABLE=is_paused VALUE=0
	UPDATE_DELAYED_GCODE ID=DISABLE_HEATER DURATION=0
	_HOME_IDLER
	M109 S{printer["gcode_macro PAUSE_MMU"].extruder_temp}

[delayed_gcode DISABLE_HEATER]
gcode:
	{% if printer["gcode_macro PAUSE_MMU"].is_paused|int != 0 %}
		RESPOND MSG="Disable extruder heater"
		M104 S0
	{% endif %}

[gcode_macro _GO_TO_PARKING]
gcode:
	G90
	G1 X{printer["gcode_macro _VAR_MMU2S"].pause_x} F3000
	G1 Y{printer["gcode_macro _VAR_MMU2S"].pause_y} F3000

[gcode_macro _GO_TO_PARKING_OUT]
gcode:
	G91
	G1 X{printer["gcode_macro _VAR_MMU2S"].pause_x_out} F3000
	G1 Y{printer["gcode_macro _VAR_MMU2S"].pause_y_out} F3000
	G90

# Pause the MMU, park the extruder at the parking position
# Save the current state and start the delayed stop of the heated
# modify the timeout of the printer acorrdly to timeout_pause
[gcode_macro PAUSE_MMU]
variable_is_paused: 0
variable_extruder_temp: 0
gcode:
  {% if printer.pause_resume.is_paused %}
	RESPOND MSG="Print is already paused"
  {% else %}
	G90
	RESPOND MSG="START PAUSE MMU"
        RESPOND PREFIX=tgnotify MSG="Printer is paused, check MMU"
	SET_GCODE_VARIABLE MACRO=PAUSE_MMU VARIABLE=extruder_temp VALUE={printer.extruder.temperature}
	SET_GCODE_VARIABLE MACRO=PAUSE_MMU VARIABLE=is_paused VALUE=1
	SAVE_GCODE_STATE NAME=PAUSE_MMU_state
	SET_IDLE_TIMEOUT TIMEOUT={printer["gcode_macro _VAR_MMU2S"].timeout_pause}
	UPDATE_DELAYED_GCODE ID=DISABLE_HEATER DURATION={printer["gcode_macro _VAR_MMU2S"].disable_heater}
	_MMU_ERROR_PAUSE
	UNSELECT_TOOL
	_bip
	_bip
	_bip
	PAUSE_BASE
	G91
	G1 Z{printer["gcode_macro _VAR_MMU2S"].pause_z}
	G90
	_GO_TO_PARKING
	_bip
	_bip
	_bip
  {% endif %}


# call this macro to correctly RESUME with MMU check
[gcode_macro RESUME_MMU]
gcode:
	_MMU_WRITE_STAT MSG="ERROR:RESUME:T{printer["gcode_macro SELECT_TOOL"].color_selected}"
	_EXTRUDER_IN_STATUS
	_RESUME_MMU
	G92 E0
	G90

[gcode_macro _RESUME_MMU]
gcode:
        G90
	{% if not printer.pause_resume.is_paused %}
		RESPOND MSG="Print is not paused. Resume ignored"
	{% else %}
		{% if printer["gcode_macro PAUSE_MMU"].is_paused|int == 0 %}
			{% if printer["gcode_macro _EXTRUDER_IN_STATUS"].filament_loaded %}
				RESPOND MSG="Resume print ..."
				G91
				G92 E0
				G1 E-{printer["gcode_macro _VAR_MMU2S"].purge_retract_at_end} F{printer["gcode_macro _VAR_MMU2S"].purge_speed}
				G92 E0
				G90
				RESTORE_GCODE_STATE NAME=PAUSE_MMU_state MOVE=1 MOVE_SPEED=100
				RESUME_BASE
				SET_SELECTED_COLOR VALUE={printer["gcode_macro TX"].next_color}
				_RESTORE_STATE_IF_SWAP_OK
			{% else %}
				RESPOND MSG="Filament not in extruder, could not resume"
				_ENDSTOPS_STATUS
			{% endif %}
		{% else %}
			RESPOND MSG="Unlock MMU before resuming !"
		{% endif %}
	{% endif %}
