
###############################################
#
# TEST ROUTINES
#
###############################################
[gcode_macro MMU_TEST_LOAD]
gcode:
	HOME_MMU
	{% for i in range(10) %}
		MMU_RESPOND MSG="Test {i}"
		{% for j in range(5) %}
			SELECT_TOOL VALUE={j}
			_LOAD_FILAMENT_TO_EXTRUDER
			G4 P1000
			SELECT_TOOL VALUE={j}
			_UNLOAD_FILAMENT_FROM_EXTRUDER
		{% endfor %}
	{% endfor %}

[gcode_macro MMU_TEST_LOAD_EXTRUDER]
gcode:
	G28
	HOME_MMU
	G1 X100 Y-20 F2000
	{% for i in range(11) %}
		MMU_RESPOND MSG="Test {i}"
		{% for j in range(5) %}
			SELECT_TOOL VALUE={j}
			_LOAD_FILAMENT_TO_EXTRUDER
			_TEST_ONE_LOAD_UNLOAD
			SELECT_TOOL VALUE={j}
			_UNLOAD_FILAMENT_FROM_EXTRUDER
		{% endfor %}
	{% endfor %}

[gcode_macro _TEST_RETRY_LOAD_FILAMENT_IN_EXTRUDER_SENSOR]
gcode:
	_EXTRUDER_IN_STATUS
	__TEST_RETRY_LOAD_FILAMENT_IN_EXTRUDER_SENSOR

[gcode_macro __TEST_RETRY_LOAD_FILAMENT_IN_EXTRUDER_SENSOR]
gcode:
	{% if printer["gcode_macro _EXTRUDER_IN_STATUS"].filament_loaded %}
		MMU_RESPOND MSG="Retry loading ...."
		{% if printer["gcode_macro PAUSE_MMU"].is_paused|int == 0 %}
			MMU_RESPOND MSG="Loading Filament..."
			_MMU_ERROR_RETRY_LOAD
			G91
			SELECT_TOOL VALUE={printer["gcode_macro SELECT_TOOL"].color_selected|int}
			_MMU_MANUAL_STEPPER STEPPER=gear_stepper MOVE=10 SPEED=10 SET_POSITION=0 SYNC=0
			G1 E10 F600
			_MMU_MANUAL_STEPPER STEPPER=gear_stepper SYNC=1
			_MMU_MANUAL_STEPPER STEPPER=gear_stepper SET_POSITION=0
			G1 E10 F600
			UNSELECT_TOOL
			G1 E10 F1800
			G92 E0
			G90
			G4 P1000
		{% endif %}
	{% endif %}

[gcode_macro _TEST_ONE_LOAD_UNLOAD]
gcode:
	{% if printer["gcode_macro PAUSE_MMU"].is_paused|int == 0 %}
		G91
		_MMU_MANUAL_STEPPER STEPPER=gear_stepper MOVE=20 SPEED=10 SET_POSITION=0 SYNC=0
		G1 E20 F600
		_MMU_MANUAL_STEPPER STEPPER=gear_stepper SYNC=1
		_MMU_MANUAL_STEPPER STEPPER=gear_stepper SET_POSITION=0
		UNSELECT_TOOL
		G1 E22 F1393
		G92 E0
		G90
		G4 P1000
		_TEST_RETRY_LOAD_FILAMENT_IN_EXTRUDER_SENSOR
		_TEST_RETRY_LOAD_FILAMENT_IN_EXTRUDER_SENSOR
		_TEST_RETRY_LOAD_FILAMENT_IN_EXTRUDER_SENSOR
		_IS_FILAMENT_IN_EXTRUDER
		G91
		SELECT_TOOL VALUE={printer["gcode_macro SELECT_TOOL"].color_selected|int}
		_MMU_MANUAL_STEPPER STEPPER=gear_stepper MOVE=-40 SPEED=10 SET_POSITION=0 SYNC=0
		G1 E-40 F600
		_MMU_MANUAL_STEPPER STEPPER=gear_stepper SYNC=1
		_MMU_MANUAL_STEPPER STEPPER=gear_stepper MOVE=-60 SPEED=50 SET_POSITION=0 SYNC=0
		G1 E-60 F3000
		_MMU_MANUAL_STEPPER STEPPER=gear_stepper SYNC=1
		_MMU_MANUAL_STEPPER STEPPER=gear_stepper SET_POSITION=0
		UNSELECT_TOOL
		G90
		G92 E0
		G4 P1000
		_IS_FILAMENT_STUCK_IN_EXTRUDER
	{% endif %}

###############################################